In [2]:
import pandas as pd
# load the pickle file
ingr_map = pd.read_pickle('ingr_map.pkl')
# print the first 5 rows
ingr_map.head()

,raw_ingr,raw_words,processed,len_proc,replaced,count,id
0,"medium heads bibb or red leaf lettuce, washed,...",13,"medium heads bibb or red leaf lettuce, washed,...",73,lettuce,4507,4308
1,mixed baby lettuces and spring greens,6,mixed baby lettuces and spring green,36,lettuce,4507,4308
2,romaine lettuce leaf,3,romaine lettuce leaf,20,lettuce,4507,4308
3,iceberg lettuce leaf,3,iceberg lettuce leaf,20,lettuce,4507,4308
4,red romaine lettuce,3,red romaine lettuce,19,lettuce,4507,4308

In [3]:
PP_recipes = pd.read_csv('PP_recipes.csv')
RAW_recipes = pd.read_csv('RAW_recipes.csv')
PP_users = pd.read_csv('PP_users.csv')
RAW_interactions = pd.read_csv('RAW_interactions.csv')

In [8]:
RAW_interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [5]:
RAW_recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB

In [6]:
# create 4 new csv files containing only the first 10 rows of each of the 4 files
PP_recipes.head(10).to_csv('PP_recipes_head.csv', index=False)
RAW_recipes.head(10).to_csv('RAW_recipes_head.csv', index=False)
PP_users.head(10).to_csv('PP_users_head.csv', index=False)
RAW_interactions.head(10).to_csv('RAW_interactions_head.csv', index=False)

In [9]:
# find averaging rating for recipe id 65216	
RAW_recipes[RAW_recipes['id'] == 169389]

# find is recipe id for name crock pot angel chicken
# RAW_recipes[RAW_recipes['name'] == 'crock pot angel chicken'].id

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
135408,middle eastern tuna salad pitas,169389,10,211184,2006-05-24,"['15-minutes-or-less', 'time-to-make', 'course...","[424.6, 20.0, 10.0, 37.0, 64.0, 11.0, 15.0]",9,"['to prepare tuna salad:', 'combine all ingred...",this isn't any old tuna salad sandwich. filled...,"['hummus', 'solid white tuna packed in water',...",12

In [29]:
recipe = RAW_recipes[RAW_recipes['id'] == 169389]
recipe_info = recipe[['name', 'minutes', 'n_steps', 'n_ingredients', 'description', 'ingredients', 'steps', 'nutrition']]
recipe_info.columns = ['Recipe Name', 'Minutes', 'Number of Steps', 'Number of Ingredients', 'Description', 'Ingredients', 'Steps', 'Nutrition']
    
    # Convert the DataFrame to a dictionary
recipe_dict = recipe_info.to_dict('records')[0]
    
#recipe_dict['Calories'] = recipe_dict['Nutrition'][0]
#recipe_dict['Fat'] = recipe_dict['Nutrition'][1]
#recipe_dict['Protein'] = recipe_dict['Nutrition'][5]
    
#recipe_dict['Calories'], recipe_dict['Fat'], recipe_dict['Protein']

#recipe_dict
import ast

#recipe_dict['Nutrition'] = ast.literal_eval(recipe_dict['Nutrition'])

recipe_info['Nutrition'] = recipe_info['Nutrition'].apply(ast.literal_eval)

recipe_info['Nutrition'].iloc[0][5]

C:\Users\steve\AppData\Local\Temp\ipykernel_28748\1490208547.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recipe_info['Nutrition'] = recipe_info['Nutrition'].apply(ast.literal_eval)

11.0

In [1]:
# RAW_recipes[RAW_recipes['name'] == 'aussie pasta salad']['ingredients'].values[0]   
RAW_recipes.info()

NameError: name 'RAW_recipes' is not defined

In [57]:
def find_recipes_by_ingredients(ingredients):
    matching_recipes = RAW_recipes[RAW_recipes['ingredients'].apply(lambda x: all(ingredient in x for ingredient in ingredients))]
    
    return matching_recipes[['name', 'id']]

find_recipes_by_ingredients(['pasta', 'salad', 'mushroom'])

                                                     name      id
5334                                  angel chicken pasta   62012
27346                           bow tie chicken delicious  104390
42496                        chicken and angel hair pasta   68540
42858                                   chicken and pasta   13318
42868         chicken and pasta salad with raw vegetables  117961
46264                       chicken with angel hair pasta  179083
64112   creamy white wine sauce and italian chicken ov...  342727
65216                             crock pot angel chicken  163705
66652                             crock pot angel chicken  391559
83464      fettuccini with asparagus and garlicky chicken  298607
85980                    freeze ahead italian pasta salad   53976
110586          ila s cold chicken and pasta caesar salad  248143
111496                                 inside out ravioli  167669
112530                       italian cream cheese chicken  324381
126787                     low fat zesty shrimp and pasta  145407
132178                               maxine s pasta salad  106799
133106              mediterranean pasta salad for a crowd  172211
142193                                     my pasta salad   89572
149777  orecchiette pasta salad with artichokes and gr...  311638
158540                          perfect zesty pasta salad  379708

In [86]:
def count_and_rating(recipes):
    # Append 'count' column
    recipes['count'] = recipes['id'].apply(lambda x: RAW_interactions[RAW_interactions['recipe_id'] == x].shape[0])
    
    # Append 'rating' column
    recipes['rating'] = recipes['id'].apply(lambda x: RAW_interactions[RAW_interactions['recipe_id'] == x]['rating'].mean())
    
    # Sort by 'count' column in descending order, and then by 'rating' column in descending order
    recipes_sorted = recipes[['name', 'count', 'rating']].sort_values(by=['count', 'rating'], ascending=[False, False])
    recipes_sorted.columns = ['Recipe Name', 'Reviews (#)', 'Average Rating']
    
    return recipes_sorted

    
count_and_rating(find_recipes_by_ingredients(['pasta', 'salad', 'mushroom']))

,Recipe Name,Reviews (#),Average Rating
65216,crock pot angel chicken,40,4.400000
42496,chicken and angel hair pasta,32,4.750000
5334,angel chicken pasta,19,4.105263
46264,chicken with angel hair pasta,7,5.000000
42858,chicken and pasta,5,5.000000
27346,bow tie chicken delicious,4,4.500000
133106,mediterranean pasta salad for a crowd,3,4.666667
112530,italian cream cheese chicken,3,3.000000
42868,chicken and pasta salad with raw vegetables,2,5.000000
126787,low fat zesty shrimp and pasta,2,5.000000
66652,crock pot angel chicken,2,4.500000
85980,freeze ahead italian pasta salad,2,4.000000
64112,creamy white wine sauce and italian chicken ov...,2,2.500000
83464,fettuccini with asparagus and garlicky chicken,1,5.000000
111496,inside out ravioli,1,5.000000
132178,maxine s pasta salad,1,5.000000
149777,orecchiette pasta salad with artichokes and gr...,1,5.000000
110586,ila s cold chicken and pasta caesar salad,1,4.000000
142193,my pasta salad,1,4.000000
158540,perfect zesty pasta salad,1,4.000000

In [68]:
RAW_interactions[RAW_interactions['recipe_id'] == 44123]['rating'].mean()
RAW_interactions[RAW_interactions['recipe_id'] == 44123]['rating'].count()

4